.td1 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 150;
    margin-top: 35px;
}

.td1::before,
.td1::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #666;
    margin-top: 35px;
}

.td1 span {
    background-color: #666;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 35px;
    letter-spacing: 0.5px;
}

#hinh1 {
    /* width: 300px; hoặc 100% tùy bạn */
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-left: 100px; /* Đẩy cột trái qua phải */
}

#hinh1:hover {
    transform: scale(1.1); /* phóng to */
    /* opacity: 0.8;          làm mờ nhẹ */
  }


#nd1{
    margin-left: 30px;
}



.spnoibat {
    background-color: #f2f2f2; /* Màu xám nhạt, bạn có thể đổi mã màu */
}


.product-img {
transition: transform 0.3s ease;
}

.product-img:hover {
transform: scale(1.05);
}

.td2 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 15;
    margin-top: 35px;
    margin-bottom: 35px;
}

.td2::before,
.td2::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #666;
    margin-top: 35px;
    margin-bottom: 35px;
}

.td2 span {
    background-color: #666;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 35px;
    letter-spacing: 0.5px;
}


.td3 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 100;
    margin-top: 35px;

}

.td3::before,
.td3::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #666;
    margin-top: 35px;
}

.td3 span {
    background-color: #666;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 35px;
    letter-spacing: 0.5px;
}


#nd2{
    margin-top: 50px;
    margin-left: 30px;
}



.blog-section {
    background-color: #f3f3f3;
    padding: 60px 0;
  }
  /* .blog-heading {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 40px;
    position: relative;
  }
  .blog-heading::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 3px;
    background-color: #000;
  } */
  .blog-card {
    transition: all 0.3s ease;
  }
  .blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  .blog-date {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #fff;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
  }
  .card-img-top {
    height: 220px;
    object-fit: cover;
  }


.td4 {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 100;

    margin-bottom: 35px;
}

.td4::before,
.td4::after {
    content: '';
    flex: 1;
    border-bottom: 3px solid #666;

    margin-bottom: 35px;
}

.td4 span {
    background-color: #666;
    color: white;
    padding: 10px 30px;
    border-radius: 25px;
    font-weight: bold;
 
    letter-spacing: 0.5px;
    margin-bottom: 35px;
}
